In [1]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

In [2]:
 s = pd.Series([1,3,5,np.nan,6,8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)

In [5]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [7]:
df

                   A         B         C         D
2013-01-01 -0.018101  0.412766  0.783772 -1.296606
2013-01-02 -0.447416 -0.668971 -1.070437  1.109455
2013-01-03  0.047583  0.368226 -1.632273  2.596461
2013-01-04 -0.303152 -1.394491  1.355214  0.337004
2013-01-05  0.688862 -0.364500  0.160445  1.053519
2013-01-06 -1.094651  1.135713  1.448041  0.443066

In [8]:
 df2 = pd.DataFrame({ 'A' : 1.,
   ....:                      'B' : pd.Timestamp('20130102'),
   ....:                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:                      'D' : np.array([3] * 4,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","test","train"]),
   ....:                      'F' : 'foo' })

In [9]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [10]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [15]:
df.head()

                   A         B         C         D
2013-01-01 -0.018101  0.412766  0.783772 -1.296606
2013-01-02 -0.447416 -0.668971 -1.070437  1.109455
2013-01-03  0.047583  0.368226 -1.632273  2.596461
2013-01-04 -0.303152 -1.394491  1.355214  0.337004
2013-01-05  0.688862 -0.364500  0.160445  1.053519

In [16]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.303152 -1.394491  1.355214  0.337004
2013-01-05  0.688862 -0.364500  0.160445  1.053519
2013-01-06 -1.094651  1.135713  1.448041  0.443066

In [17]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [19]:
df.values

array([[-0.01810129,  0.41276614,  0.78377193, -1.29660623],
       [-0.44741642, -0.66897087, -1.07043714,  1.10945498],
       [ 0.04758308,  0.36822611, -1.63227316,  2.59646067],
       [-0.3031523 , -1.39449128,  1.3552136 ,  0.33700444],
       [ 0.6888615 , -0.36449968,  0.16044488,  1.05351891],
       [-1.09465074,  1.13571284,  1.44804112,  0.44306648]])